#hamburger {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition-duration: 0.5s;
}

.bars {
  width: 60%;
  height: 3.5px;
  background-color: rgb(129, 140, 248);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#hamburger:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#hamburger:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#hamburger:checked + .toggle #bar1 {
  width: 60%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#hamburger:checked + .toggle #bar3 {
  width: 60%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#hamburger:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}
